.App {
  text-align: center;
  font-family: 'Barlow', sans-serif;
}
.names-count {
  background-color: antiquewhite;
  width: 52%;    
  margin-left: 24%;    
  margin-top: 10%;
  font-family: 'Barlow', sans-serif;
}

.names-countInner {
  font-size: 30px;
  font-family: 'Barlow', sans-serif;
}

.names-countInnerSpan{
  margin-left: 18%;
  font-family: 'Barlow', sans-serif;
}